extends template/_default.pug
include template/_mixins.pug

block append css
block append hjs
  +ex_js('https://use.fontawesome.com/b23fbd50a7.js')
  +js('main.js')
block contents
  main.smooth-resize(style='color: black; background-color: white;')
    .container
      code.smooth-color.
        (⁠~⁠~⁠(⁠.⁠(⁠)⁠*⁠)⁠)​.⁠(⁠)⁠.⁠&lt;⁠=⁠_⁠.⁠(⁠-​.⁠)⁠.⁠(⁠'⁠'⁠)⁠+⁠@⁠.​'⁠'⁠,⁠"⁠#⁠{⁠}⁠"⁠:⁠=​&gt;⁠@⁠.⁠=⁠"⁠"⁠"⁠*⁠:⁠:​{⁠:⁠#⁠{⁠@⁠}⁠!⁠;⁠}⁠.​{⁠:⁠#⁠{⁠@⁠}⁠!⁠;⁠}⁠.​:⁠:⁠,⁠.⁠:⁠:⁠{⁠-⁠:⁠#​{⁠@⁠}⁠!⁠;⁠}⁠.⁠{⁠-⁠:​#⁠{⁠@⁠}⁠!⁠;⁠}⁠.⁠{⁠:
      .control.no-print
        #btnFColor.btn.smooth-color
          i.fa.fa-circle(aria-hidden='true')
        #btnBColor.btn.smooth-color
          i.fa.fa-circle-o(aria-hidden='true')
        #btnUpload.btn.smooth-color
          i.fa.fa-cloud-upload(aria-hidden='true')
        #btnDownload.btn.smooth-color
          i.fa.fa-download(aria-hidden='true')
        #btnFBShare.btn.smooth-color
          i.fa.fa-facebook(aria-hidden='true')
      .left.corner.smooth-color
        p.desc I am&nbsp;
          span.name(contenteditable=true) Thomas
          | .
        p.desc I write&nbsp;
          span.name(contenteditable=true) CoffeeScript
          | .
      .right.corner.smooth-color
        p#txtDay.desc
        p#txtMonth.desc
        p#txtYear.desc
      footer.smooth-color
        |Made with &#9825; by&nbsp;
        a(href='http://thomas-yang.me/') Thomas Yang.
        |&nbsp;Inspired by&nbsp;
        a(href='http://ruleofthirds.de/visualizing-code/') Bastian Greshake
  .hidden
    input#inputFile(type='file')
    input#inputFColor(type='color')
    input#inputBColor(type='color')
    img#fbImg(src='')
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1654094294902205',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
