extends template/_default.pug
include template/_mixins.pug

block append meta
  meta(property="og:image" content='https://firebasestorage.googleapis.com/v0/b/firebase-icodepic.appspot.com/o/test.png?alt=media&token=a00bd2fe-0cab-435e-bd73-3547d7f68461')
  meta(property='og:url' content='http://thomas-yang.me/projects/iCode')

block append css
block append hjs
  +ex_js('https://use.fontawesome.com/b23fbd50a7.js')
  +js('main.js')
block contents
  main.smooth-resize(style='color: black; background-color: white;')
    .container
      code.smooth-color.
        (⁠~⁠~⁠(⁠.⁠(⁠)⁠*⁠)⁠)​.⁠(⁠)⁠.⁠&lt;⁠=⁠_⁠.⁠(⁠-​.⁠)⁠.⁠(⁠'⁠'⁠)⁠+⁠@⁠.​'⁠'⁠,⁠"⁠#⁠{⁠}⁠"⁠:⁠=​&gt;⁠@⁠.⁠=⁠"⁠"⁠"⁠*⁠:⁠:​{⁠:⁠#⁠{⁠@⁠}⁠!⁠;⁠}⁠.​{⁠:⁠#⁠{⁠@⁠}⁠!⁠;⁠}⁠.​:⁠:⁠,⁠.⁠:⁠:⁠{⁠-⁠:⁠#​{⁠@⁠}⁠!⁠;⁠}⁠.⁠{⁠-⁠:​#⁠{⁠@⁠}⁠!⁠;⁠}⁠.⁠{⁠:
      .control.no-print
        #btnQuestion.btn.smooth-color
          i.fa.fa-question(aria-hidden='true', data-label='open label')
        #btnFColor.btn.smooth-color
          i.fa.fa-circle(aria-hidden='true', data-label='foreground color')
        #btnBColor.btn.smooth-color
          i.fa.fa-circle-o(aria-hidden='true', data-label='background color')
        #btnUpload.btn.smooth-color
          i.fa.fa-cloud-upload(aria-hidden='true', data-label='upload code')
        #btnDownload.btn.smooth-color
          i.fa.fa-download(aria-hidden='true', data-label='download poster')
        #btnFBShare.btn.smooth-color
          i.fa.fa-facebook(aria-hidden='true', data-label='facebook share')
      .bio.bottom.smooth-color
        p.desc I am&nbsp;
          span.name(contenteditable=true, data-label='change to your name') Thomas
          | .
        p.desc I write&nbsp;
          span.name(contenteditable=true, data-label='change to your language') CoffeeScript
          | .
      .time.bottom.smooth-color
        p#txtDay.desc
        p#txtMonth.desc
        p#txtYear.desc
      footer.smooth-color
        |Made with &#9825; by&nbsp;
        a(href='http://thomas-yang.me/') Thomas Yang.
        |&nbsp;Inspired by&nbsp;
        a(href='http://ruleofthirds.de/visualizing-code/') Bastian Greshake
  .hidden
    input#inputFile(type='file')
    input#inputFColor(type='color')
    input#inputBColor(type='color' value='#FFFFFF')
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1654094294902205',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
