@import 'nib'
global-reset()

@font-face
  font-family: 'Share Tech Mono'
  font-style: normal
  src url('fonts/Share-TechMono.otf')

a,
a:visited,
a:active,
a:link
  text-decoration: underline
  color: inherit

body, html
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif
  -webkit-font-smoothing: subpixel-antialiased
  height: 100%
  width: 100%
  background-color: #FAFAFA

.hidden
  visibility: hidden

.smooth-resize
  transition: height .4s ease-out, width .4s ease-out

.smooth-color
  transition: background-color .4s ease-out, color .4s ease-out

.btn
  border-radius: .25em
  text-align: center
  height: 1.2em
  width: 1.2em
  line-height: 1.2em
  cursor: pointer
  color: currentColor

main
  position: absolute
  background-color: white
  color: black
  margin: 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  .container
    position: absolute
    padding: 3em 0 0 4em
    width: calc(100% - 4em)
    height: calc(100% - 3em)

p.desc
  font-weight: bold
  letter-spacing: .1em
  line-height: 1em
  white-space: no-wrap
  font-size: 2em

.left p.desc
  font-weight: normal
  font-size: 3em


.control
  position: absolute
  display: flex
  bottom: 3em
  font-size: 4em

.corner
  position: absolute
  bottom: 3em

.right
  right: 4em
  text-align: right


code
  display: inline-block
  font-family: 'Share Tech Mono', monospace
  font-weight: bold
  // zero width space also count
  letter-spacing: .40388em
  line-height: 1.45398em
  font-size: 4.95195em

footer
  position: absolute
  font-size: 1em
  bottom: 1em
