@import 'nib'
global-reset()

@font-face
  font-family: 'Share Tech Mono'
  font-style: normal
  src url('fonts/Share-TechMono.otf')

a,
a:visited,
a:active,
a:link
  text-decoration: underline
  color: inherit

body, html
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif
  -webkit-font-smoothing: subpixel-antialiased
  height: 100%
  width: 100%
  background-color: #FAFAFA

.hidden
  visibility: hidden

.smooth-resize
  transition: height .4s ease-out, width .4s ease-out

.smooth-color
  transition: background-color .4s ease-out, color .4s ease-out

.btn
  border-radius: .25em
  text-align: center
  height: 1.2em
  width: 1.2em
  line-height: 1.2em
  cursor: pointer
  color: currentColor
  margin-left: .2em

main
  position: absolute
  background-color: white
  color: black
  margin: 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  .container
    position: absolute
    padding: 3em 0 0 4em
    width: calc(100% - 4em)
    height: calc(100% - 3em)

.control
  position: absolute
  display: flex
  bottom: 3.2em
  font-size: 3.2em
  border-left: solid .15em currentColor
  margin-left: .15em

p.desc
  letter-spacing: .1em
  line-height: 1em
  white-space: no-wrap
  font-size: 2em

.bio p.desc
  font-size: 3em

.bottom
  position: absolute
  bottom: 3em

.time
  font-weight: bold
  right: 4em
  text-align: right

code
  display: inline-block
  font-family: 'Share Tech Mono', monospace
  // zero width space also count
  letter-spacing: .40388em
  line-height: 1.45398em
  font-size: 4.95195em

footer
  position: absolute
  white-space: nowrap
  font-size: 1em
  bottom: 1em

.fa
  position: relative

.fa::after
  pointer-events: none
  will-change: opacity
  opacity: 0
  content: attr(data-label)
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif
  font-size: .4em
  position: absolute
  text-align: right
  left: 0
  width: 10em
  border-bottom: 1px solid currentColor
  transform: rotate(315deg)
  white-space: nowrap
  bottom: 7em
  transition: opacity .4s ease-out

span.name
  position: relative

span.name::after
  pointer-events: none
  will-change: opacity
  opacity: 0
  content: attr(data-label)
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif
  font-size: .4em
  line-height: 1.2em
  position: absolute
  text-align: right
  letter-spacing: 0
  white-space: nowrap
  bottom: 0
  width: 20em
  border-bottom: 1px solid black
  transition: opacity .4s ease-out

.active .fa::after,
.active span.name::after
  opacity: 1
